In [1]:
import pandas as pd
import matplotlib as plt
import numpy as py
import os

In [2]:
data13=pd.read_excel("occupation_data/national_M2013_dl.xls")[['OCC_CODE','OCC_TITLE','OCC_GROUP','TOT_EMP']]
data13['YEAR']='2013'
data13['Suffix']=data13['OCC_CODE'].str[:3]
data14=pd.read_excel("occupation_data/national_M2014_dl.xlsx")[['OCC_CODE','OCC_TITLE','OCC_GROUP','TOT_EMP']]
data14['YEAR']='2014'
data14['Suffix']=data14['OCC_CODE'].str[:3]
data15=pd.read_excel("occupation_data/national_M2015_dl.xlsx")[['OCC_CODE','OCC_TITLE','OCC_GROUP','TOT_EMP']]
data15['YEAR']='2015'
data15['Suffix']=data15['OCC_CODE'].str[:3]
data16=pd.read_excel("occupation_data/national_M2016_dl.xlsx")[['OCC_CODE','OCC_TITLE','OCC_GROUP','TOT_EMP']]
data16['YEAR']='2016'
data16['Suffix']=data16['OCC_CODE'].str[:3]
data17=pd.read_excel("occupation_data/national_M2017_dl.xlsx")[['OCC_CODE','OCC_TITLE','OCC_GROUP','TOT_EMP']]
data17['YEAR']='2017'
data17['Suffix']=data17['OCC_CODE'].str[:3]

In [3]:
maindf=data13.append(data14).append(data15).append(data16).append(data17)
maindf.head()

  OCC_CODE               OCC_TITLE OCC_GROUP    TOT_EMP  YEAR Suffix
0  00-0000         All Occupations     total  132588810  2013    00-
1  11-0000  Management Occupations     major    6542950  2013    11-
2  11-1000          Top Executives     minor    2278260  2013    11-
3  11-1010        Chief Executives     broad     248760  2013    11-
4  11-1011        Chief Executives  detailed     248760  2013    11-

In [4]:
financial=maindf.loc[(maindf['Suffix']=="13-") & (maindf['OCC_GROUP']=="detailed"),:].reset_index(drop=True)
financial.head()

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,YEAR,Suffix
0,13-1011,"Agents and Business Managers of Artists, Perfo...",detailed,11680,2013,13-
1,13-1021,"Buyers and Purchasing Agents, Farm Products",detailed,11290,2013,13-
2,13-1022,"Wholesale and Retail Buyers, Except Farm Products",detailed,112290,2013,13-
3,13-1023,"Purchasing Agents, Except Wholesale, Retail, a...",detailed,284480,2013,13-
4,13-1031,"Claims Adjusters, Examiners, and Investigators",detailed,275500,2013,13-

In [5]:
financial=financial[['OCC_TITLE','TOT_EMP','YEAR']]
financial.pivot(index='OCC_TITLE', columns='YEAR', values='TOT_EMP').dropna()

YEAR,2013,2014,2015,2016,2017
OCC_TITLE,,,,,
Accountants and Auditors,1168330.0,1187310.0,1226910.0,1246540.0,1241000.0
"Agents and Business Managers of Artists, Performers, and Athletes",11680.0,11860.0,13230.0,13470.0,15450.0
Appraisers and Assessors of Real Estate,60210.0,63220.0,60290.0,60770.0,58880.0
Budget Analysts,58740.0,57120.0,56300.0,54700.0,54550.0
"Business Operations Specialists, All Other",938480.0,934370.0,926610.0,958670.0,1001420.0
"Claims Adjusters, Examiners, and Investigators",275500.0,266280.0,271600.0,274420.0,282030.0
"Compensation, Benefits, and Job Analysis Specialists",81520.0,80970.0,79780.0,79190.0,80530.0
Compliance Officers,236090.0,246970.0,257010.0,273910.0,287130.0
Cost Estimators,202600.0,209130.0,216270.0,214610.0,210900.0
Credit Analysts,66490.0,69390.0,70840.0,72930.0,74850.0
Credit Counselors,27710.0,29600.0,30510.0,34110.0,35900.0
Farm Labor Contractors,1210.0,950.0,1230.0,810.0,780.0
Financial Analysts,250670.0,262610.0,268360.0,281610.0,294110.0
Financial Examiners,30680.0,36830.0,44200.0,49750.0,52580.0
"Financial Specialists, All Other",147330.0,137460.0,127250.0,123270.0,125900.0
Fundraisers,50530.0,55230.0,62720.0,68910.0,72920.0
Human Resources Specialists,426570.0,456170.0,491090.0,524800.0,553950.0
"Insurance Appraisers, Auto Damage",13180.0,13690.0,15270.0,15130.0,16150.0
Insurance Underwriters,92540.0,91720.0,89960.0,91650.0,89910.0
Labor Relations Specialists,76160.0,79780.0,79330.0,79430.0,78510.0
Loan Officers,301860.0,300580.0,303870.0,305700.0,307240.0
Logisticians,120340.0,125670.0,133770.0,146060.0,159800.0
Management Analysts,567840.0,587450.0,614110.0,637690.0,659200.0
Market Research Analysts and Marketing Specialists,430350.0,468160.0,506420.0,558630.0,596450.0
"Meeting, Convention, and Event Planners",73290.0,77940.0,87400.0,95850.0,102420.0
Personal Financial Advisors,183420.0,196490.0,197580.0,201850.0,200920.0
"Tax Examiners and Collectors, and Revenue Agents",64790.0,63640.0,59640.0,58450.0,56660.0
Tax Preparers,67810.0,68590.0,72060.0,70030.0,68720.0
Training and Development Specialists,224110.0,239500.0,254060.0,269710.0,280340.0

In [7]:
detailed=maindf.loc[maindf['OCC_GROUP']=="detailed",:]
detailed.head()

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,YEAR,Suffix
4,11-1011,Chief Executives,detailed,248760,2013,11-
6,11-1021,General and Operations Managers,detailed,1973700,2013,11-
8,11-1031,Legislators,detailed,55800,2013,11-
11,11-2011,Advertising and Promotions Managers,detailed,28530,2013,11-
13,11-2021,Marketing Managers,detailed,174010,2013,11-

In [8]:
#list of total employment
detailed[['OCC_TITLE','TOT_EMP']].groupby("OCC_TITLE").sum().sort_values('TOT_EMP',ascending=False).head()

                                                     TOT_EMP
OCC_TITLE
Retail Salespersons                                 22630490
Cashiers                                            17326150
Combined Food Preparation and Serving Workers, ...  16373040
Office Clerks, General                              14589570
Registered Nurses                                   13859130

In [9]:
#list of 10 top changings 
change=pd.merge(data13,data17,how="inner",on="OCC_CODE",suffixes=('_13', '_17'))
change['Employment Increase Amount']=change['TOT_EMP_17']-change['TOT_EMP_13']
change.head()

,OCC_CODE,OCC_TITLE_13,OCC_GROUP_13,TOT_EMP_13,YEAR_13,Suffix_13,OCC_TITLE_17,OCC_GROUP_17,TOT_EMP_17,YEAR_17,Suffix_17,Employment Increase Amount
0,00-0000,All Occupations,total,132588810,2013,00-,All Occupations,total,142549250,2017,00-,9960440
1,11-0000,Management Occupations,major,6542950,2013,11-,Management Occupations,major,7280330,2017,11-,737380
2,11-1000,Top Executives,minor,2278260,2013,11-,Top Executives,minor,2473740,2017,11-,195480
3,11-1010,Chief Executives,broad,248760,2013,11-,Chief Executives,broad,210160,2017,11-,-38600
4,11-1011,Chief Executives,detailed,248760,2013,11-,Chief Executives,detailed,210160,2017,11-,-38600

In [10]:
change.head()

,OCC_CODE,OCC_TITLE_13,OCC_GROUP_13,TOT_EMP_13,YEAR_13,Suffix_13,OCC_TITLE_17,OCC_GROUP_17,TOT_EMP_17,YEAR_17,Suffix_17,Employment Increase Amount
0,00-0000,All Occupations,total,132588810,2013,00-,All Occupations,total,142549250,2017,00-,9960440
1,11-0000,Management Occupations,major,6542950,2013,11-,Management Occupations,major,7280330,2017,11-,737380
2,11-1000,Top Executives,minor,2278260,2013,11-,Top Executives,minor,2473740,2017,11-,195480
3,11-1010,Chief Executives,broad,248760,2013,11-,Chief Executives,broad,210160,2017,11-,-38600
4,11-1011,Chief Executives,detailed,248760,2013,11-,Chief Executives,detailed,210160,2017,11-,-38600

In [15]:
subchange=change.loc[change['OCC_GROUP_13']=='detailed',:]
subchange=subchange[['OCC_CODE','OCC_TITLE_13','Employment Increase Amount']].sort_values('Employment Increase Amount',ascending=False).reset_index(drop=True)
subchange.head(10)

,OCC_CODE,OCC_TITLE_13,Employment Increase Amount
0,39-9021,Personal Care Aides,900140
1,35-3021,"Combined Food Preparation and Serving Workers,...",553340
2,53-7062,"Laborers and Freight, Stock, and Material Move...",426670
3,43-4051,Customer Service Representatives,378210
4,43-5081,Stock Clerks and Order Fillers,245630
5,29-1141,Registered Nurses,244950
6,41-3099,"Sales Representatives, Services, All Other",243040
7,11-1021,General and Operations Managers,238500
8,41-2011,Cashiers,221450
9,35-2014,"Cooks, Restaurant",218960

In [16]:
top10list = subchange.loc[:9,"OCC_TITLE_13"]
top10list

0                                  Personal Care Aides
1    Combined Food Preparation and Serving Workers,...
2    Laborers and Freight, Stock, and Material Move...
3                     Customer Service Representatives
4                       Stock Clerks and Order Fillers
5                                    Registered Nurses
6           Sales Representatives, Services, All Other
7                      General and Operations Managers
8                                             Cashiers
9                                    Cooks, Restaurant
Name: OCC_TITLE_13, dtype: object

In [17]:
topworst=subchange[['OCC_CODE','OCC_TITLE_13','Employment Increase Amount']].sort_values('Employment Increase Amount').reset_index(drop=True)
worst10list = topworst.loc[:9,"OCC_TITLE_13"]
worst10list

0    Executive Secretaries and Executive Administra...
1                          Bill and Account Collectors
2                                 Computer Programmers
3         Bookkeeping, Accounting, and Auditing Clerks
4                                  Retail Salespersons
5                                        Telemarketers
6                                     Chief Executives
7    Switchboard Operators, Including Answering Ser...
8                                              Tellers
9                                    Childcare Workers
Name: OCC_TITLE_13, dtype: object